.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #c1ef00;
}

@media screen and (max-width: 1023px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
