@tailwind base;
@tailwind;
@tailwind utilities;

@font-face {
  font-family: ClashDisplay-Bold;
  src: url("./Assets/font/clash/ClashDisplay-Bold.otf");
}

@font-face {
  font-family: ClashDisplay-Medium;
  src: url("./Assets/font/clash/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: ClashDisplay-Regular;
  src: url("./Assets/font/clash/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: ClashDisplay-Semibold;
  src: url("./Assets/font/clash/ClashDisplay-Semibold.otf");
}

body {
  font-family: "DM Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 24;
}
