@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ClashDisplay-Bold;
  src: url("./Assets/Fonts/ClassDisplay/ClashDisplay-Bold.otf");
}

@font-face {
  font-family: ClashDisplay-Medium;
  src: url("./Assets/Fonts/ClassDisplay/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: ClashDisplay-Regular;
  src: url("./Assets/Fonts/ClassDisplay/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: ClashDisplay-Semibold;
  src: url("./Assets/Fonts/ClassDisplay/ClashDisplay-Semibold.otf");
}

body {
  font-family: "DM Sans", sans-serif;
}
