@tailwind base;
@tailwind;
@tailwind utilities;

@font-face {
  font-family: ClashDisplay-Bold;
  src: url("./Assets/font/clash/ClashDisplay-Bold.otf");
}

@font-face {
  font-family: ClashDisplay-Medium;
  src: url("./Assets/font/clash/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: ClashDisplay-Regular;
  src: url("./Assets/font/clash/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: ClashDisplay-Semibold;
  src: url("./Assets/font/clash/ClashDisplay-Semibold.otf");
}

body {
  font-family: "DM Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 24;
}

.owl-carousel button.active {
  background-color: #c1ef00;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #e8e8e8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #c1ef00;
}

@media screen and (max-width: 1023px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
